:root {
  font-size: 1.5vh;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #06060e;
  --bg-secondary: #171727;
  --transition-speed: 600ms;
}

body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #101827
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  color: var(--text-secondary);
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 2;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  color: rgb(18, 122, 170);
  background: var(--bg-secondary);
}

.nav-link:hover .link-text {
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.link-icon {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--bg-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo-icon {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.navbar:hover .logo-icon {
  transform: rotate(-180deg);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    top: 0;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
    transition: var(--transition-speed);
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
  }
  #root {
    height: 100%;
  }
}
