footer {
  text-align: center;
  margin-top: auto;
  border: 2px solid red;
  margin-bottom: 5rem;
}
h2 {
  color: #b6b6b6;
}

footer ul {
  list-style-type: none;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
  font-size: 2rem;
  padding: 0;
}
footer ul a {
  color: #b6b6b6;
  text-decoration: none;
}
footer ul a:hover {
  color: rgb(245, 190, 41);
}

/* @media only screen and (max-width: 600px) {
  footer {
    text-align: center;
    margin-top: auto;
    position: absolute;
    top: 78%;
    left: 26%;
  }
} */
